@{
    ViewData["Title"] = "Solve";
}
<h1>@ViewData["Title"]</h1>


<form asp-action="Solve">
    <div class="row">
        <div class="col">
            <input class="userInput" type="text" name="userNum1" />

        </div>
        <div class="col">
            <input class="userInput" type="text" name="userNum2"/>

        </div>
        <div class="col">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </div>
</form>

<hr />

<div class="row">
    <div class="col">
        <p>The calculated output is :</p> 
        
        <div class="row">
            @foreach (var i in (string[])ViewData["FizzBuzzOutput"])
            {
                <div class="col-3">@i</div>
            }
            </div>
    </div>
</div>

<script type="text/javascript">
    var userInputs = document.getElementsByClassName('userInput');

    for (let i = 0; i < userInputs.length; i++) {
        userInputs[i].addEventListener("keypress", function (evt) {
            var character = (evt.which) ? evt.which : evt.keyCode;
            if (character >= 48 && character <= 57) {
                evt.returnValue = true;
            }
            else {
                evt.returnValue = false;
            }
        });
    }
        

</script>